<div class="contact" style="margin-top: 40px;" data-aos="fade-up">
    <h1 style="color: var(--text-utilities-decorate-primary); width: max-content;">
        Let’s Build Something <br> Meaningful Together
    </h1>
        <button class="btn-primary"><a href="https://www.linkedin.com/in/stpnguyen/" target="_blank" style="text-decoration: none;">
            Reach out</a></button>
</div>

<div style="padding-top: var(--p-16);padding-bottom: var(--p-16); border-top: 1px solid #C8DDEB;" >
    <div class="container" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end;">
       <div>
        <a href="../index.html">
            <img src="../public/logo.svg" alt="Company Logo">
        </a>                        
        <p class="md-regular">Designed and developed by Stephano</p>
        
       </div>
        <div style="display: flex; gap: var(--m-16);">
          <a href="mailto:stpnguyen.info@gmail.com"><img src="../public/ic_mail.svg" alt="logo"></a>
          <a href="https://www.linkedin.com/in/stpnguyen/" target="_blank"><img src="../public/ic_linkedin.svg" alt="logo"></a>
        </div>

    </div>
</div>
