<div class="container-fluid">
  <div class="container navbar">
      <div class="nav-header">
        <div class="nav-infor">
          <div style="display: flex; flex-direction: column;">
              <a href="/index.html">
                  <img src="../public/logo.svg" alt="logo">
              </a>
              <p class="sm-medium" style="color: var(--emerald-E700);">#opentowork</p>                                         
            </div>
      </div>
        </div>
        <div class="nav-right ">
            <div>
                <div class="menu-links animate__animated animate__fadeIn" id="menu-links">
                    <a href="/work.html" class="md-medium">Work</a>
                    <a href="/about.html" class="md-medium">About</a>
                    <a href="https://www.linkedin.com/in/stpnguyen/" target="_blank" class="btn-primary">Let's Chat</a>                </div>
                <button id="menu-toggle" class="menu-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <a href="https://www.linkedin.com/in/stpnguyen/" target="_blank" class="btn-primary" id="btn-primary">Let's Chat</a>
                </div>
    </div>
</div>