<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <div class="nav-infor">
          <!-- <a href="./index.html"><img src="./img/Ellipse 1.png" alt="logo"></a> -->
          <div class="div" style="display: flex; flex-direction: column; gap: var(--space-8); align-items: left;">
            <a href="../index.html">
                <img src="../public/logo.svg" alt="Company Logo">
            </a>                    </div>
      </div>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

 
    <div class="nav-links">
        <a href="work.html" class="md-medium">Work</a>
        <a href="about.html" class="md-medium">About</a>
      <button class="btn-primary md-medium"><a href="https://www.linkedin.com/in/stpnguyen/" target="_blank">
        Let’s Chat</a></button>
    </div>
   </div>