<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: var(--m-32);">
    <div class="stage">
        <div class="stage-item initiation">
            <p class="sub-heading">Initiation & Discovery</p>
        </div>
        <div class="stage-item planning">
            <p class="sub-heading">Planning</p>
        </div>
        <div class="stage-item execution">
            <p class="sub-heading">Execution</p>
        </div>
        <div class="stage-item control">
            <p class="sub-heading">Control & Monitoring</p>
        </div>
        <div class="stage-item close">
            <p class="sub-heading">Closing</p>
        </div>
    </div>
     <div class="stage-info">
<div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--emerald-E200);"></div>        
<p class="md-bold">Initiation & Discovery</p>
</div>
<p class="md-regular">
Engage stakeholders through interviews.<br>
Define business objectives<br>
Develop project charters<br>
Define team roles and responsibilities
</p>
</div>
                <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--yellow-Y200);"></div>        
                    <p class="md-bold">Planning</p>
</div>
                    <p class="md-regular">
                        Create detailed timelines<br>
                        Risk mitigation plans<br>
                        Resource Plan<br>
                        Contigency Plan<br>
                        Deliverable milestones
                    </p>
                </div>
                <div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--blue-B500);"></div>        
                    <p class="md-bold">Execution</p>
</div>                                    <p class="md-regular">
                        Execute iterative cycles<br>
                        Incorporate client feedback <br>
                        Track KPIs
                    </p>
                </div>
                <div class="stage-info-sum">
                    <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--emerald-E600)"></div>        
                    <p class="md-bold">Control & Monitoring</p>
                    </div>                                    <p class="md-regular">
                        Execute iterative cycles<br>
                        Incorporate client feedback<br>
                        Track KPIs
                    </p>
                </div>
                <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--grey-G400)"></div>        
                    <p class="md-bold">Closing</p>
                    </div>
                    <p class="md-regular">
                        Deliver final product documentation<br>
                        Document lessons learned.<br>
                        Collect Stakeholder feedback.
                        Conduct retrospectives, and celebrate achievements.<br>
                    </p>


                </div>
            </div>
    <div class="process-breakdown">
        <p class="md-bold">Measurement Metric</p>
        <div class="measurement">
            <p class="md-bold">Schedule Performance Index (SPI)</p>
            <p class="md-bold">Cost Performance Index (CPI)</p>
            <p class="md-bold">Risk Mitigation Effectiveness</p>
            <p class="md-bold">Stakeholder Satisfaction Score</p>
        </div>
    </div>
</div>