<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: var(--m-32);">
    <div class="stage">
        <div class="stage-item initiation">
            <p class="sub-heading">Initiation & Discovery</p>
        </div>
        <div class="stage-item planning">
            <p class="sub-heading">Planning</p>
        </div>
        <div class="stage-item execution">
            <p class="sub-heading">Execution</p>
        </div>
        <div class="stage-item control">
            <p class="sub-heading">Control & Monitoring</p>
        </div>
        <div class="stage-item close">
            <p class="sub-heading">Closing</p>
        </div>
    </div>
     <div class="stage-info">
<div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--emerald-E200);"></div>        
<p class="md-bold">Initiation & Discovery</p>
</div>
<ul class="md-regular">
    <li>Engage stakeholders through interviews.</li>
    <li>Define business objectives</li>
    <li>Develop project charters</li>
    <li>Define team roles and responsibilities</li>
  </ul>
</div>
                <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--yellow-Y200);"></div>        
                    <p class="md-bold">Planning</p>
</div>
                    <ul class="md-regular">
                       <li> Create detailed timelines
                       </li>
                       <li>
                        Risk mitigation ullans
                        </li>
                       <li>
                        Resource Plan
                       </li>
                       <li>
                        Contigency Plan
                       </li>
                       <li>
                        Deliverable milestones
                       </li>
                    </ul>
                </div>
                <div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--blue-B500);"></div>       
                    <p class="md-bold">Execution</p>
</div>                                <ul class="md-regular">
    <li>Manage project team and assign tasks</li>
    <li>Ensure deliverables meet quality standards</li>
    <li>Facilitate effective communication among teams</li>
    <li>Monitor progress against the project plan</li>
  </ul>
                </div>
                <div class="stage-info-sum">
                    <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--emerald-E600)"></div>        
                    <p class="md-bold">Control & Monitoring</p>
                    </div>                                    <ul class="md-regular">
                        <li>Track project performance using KPIs</li>
                        <li>Measure deliverables against scope, time, and cost</li>
                        <li>Conduct quality control reviews</li>
                        <li>Manage changes via change control processes</li>
                      </ul>
                </div>
                <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
<div style="width: 16px; height: 16px; background-color: var(--grey-G400)"></div>        
                    <p class="md-bold">Closing</p>
                    </div>
                    <ul class="md-regular">
                        <li>Deliver final product documentation</li>
                        <li>Document lessons learned.</li>
                        <li>Collect Stakeholder feedback.</li>
                        <li>Conduct retrospectives, and celebrate achievements.</li>
                      </ul>


                </div>
            </div>
    <div class="process-breakdown">
        <p class="md-bold">Measurement Metric</p>
        <div class="measurement">
            <p class="md-bold">Schedule Performance Index (SPI)</p>
            <p class="md-bold">Cost Performance Index (CPI)</p>
            <p class="md-bold">Risk Mitigation Effectiveness</p>
            <p class="md-bold">Stakeholder Satisfaction Score</p>
        </div>
    </div>
</div>