<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: 32px;">
    <div class="stage">
          <img src="./public/PDLC.svg" style="width:100%;"></img>
          </div>
              <div class="stage-info">
      <div class="stage-info-sum">
          <div style="display: flex; gap: 8px; align-items:center">
              <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E200);"></div>        
              <p class="md-bold">Discover</p>
          </div>
          <p class="md-regular">
              Set trategy and vision.
              <br>
              Empathize.<br>
              Define<br>
              ideate<br>
              </p>
          </div>
       <div class="stage-info-sum">
                                  <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--yellow-Y200);"></div>        
                      <p class="md-bold">Validate</p>        
                      </div>
                      <p class="md-regular">
                      Experiment<br>
                      Learn<br>
                      Prototype<br>
                      Iterate<br>
                      Measure<br>
  
                      Adjust direction/pivot<br>
  
                                                              
                      </p>
                            </div>
        <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--blue-B500);"></div>        
                      <p class="md-bold">Build</p>        </div>                                    
                      <p class="md-regular">
                      Complete Product Backlog<br>
                      Conduct Sprint Planning<br>
                      Code,Build,and Release<br>
                      Iterate<br>
                      Perform sprint review<br>
                      </p>
                      
                            </div>
        <div class="stage-info-sum">
                                <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E600)"></div>        
                      <p class="md-bold">Launch</p>                                    </div>                                   
                      <p class="md-regular">
                      Adopt<br>
                      Support<br>
                      Analyze product usage<br>
                      Iterate<br>
                      </p>                                
                      </div>
        
        </div>
              <div class="process-breakdown">
              <p class="md-bold">Measurement Metric</p>
              <div class="measurement">
                  <p class="md-bold">Market Fit Metrics</p>
                  <p class="md-bold">Time-to-Market</p>
                  <p class="md-bold">Adoption Rate</p>
                  <p class="md-bold">Return on Investment (ROI)</p>
                  <p class="md-bold">Internal Return Rate</p>
  
              </div>
      </div>
         
          </div>