<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: 32px;">
    <div class="stage">
          <img src="./public/PDLC.svg" style="width:100%;"></img>
          </div>
              <div class="stage-info">
      <div class="stage-info-sum">
          <div style="display: flex; gap: 8px; align-items:center">
              <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--blue-B500);"></div>        
              <p class="md-bold">Discover</p>
          </div>
          <ul class="md-regular">
            <li>Set strategy and vision</li>
            <li>Empathize with users</li>
            <li>Define problem and opportunity</li>
            <li>Ideate potential solutions</li>
          </ul>
          </div>
       <div class="stage-info-sum">
                                  <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--yellow-Y400);"></div>        
                      <p class="md-bold">Validate</p>        
                      </div>
                      <ul class="md-regular">
                        <li>Experiment with early concepts</li>
                        <li>Gather user feedback and learn</li>
                        <li>Create and test prototypes</li>
                        <li>Iterate based on insights</li>
                        <li>Measure outcomes</li>
                        <li>Adjust direction or pivot if needed</li>
                      </ul>
                      
                            </div>
        <div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E500)"></div>        
                      <p class="md-bold">Build</p>        </div>                                    
                      <ul class="md-regular">
                        <li>Complete the Product Backlog</li>
                        <li>Conduct Sprint Planning</li>
                        <li>Design, code, build, and release</li>
                        <li>Iterate based on team feedback</li>
                        <li>Perform Sprint Review</li>
                      </ul>
                      
                            </div>
        <div class="stage-info-sum">
                                <div style="display: flex; gap: 8px; align-items:center">
                      <div style="width: 16px; height: 16px;border-radius:999px; background-color: #17879E"></div>        
                      <p class="md-bold">Launch</p>                                    </div>                                   
                      <ul class="md-regular">
                        <li>Adopt the product into real use</li>
                        <li>Provide user support</li>
                        <li>Analyze product usage and data</li>
                        <li>Iterate to improve product and experience</li>
                      </ul>          
                      </div>
        
        </div>
              <div class="process-breakdown">
              <p class="md-bold">Measurement Metric</p>
              <div class="measurement">
                  <p class="md-bold">Market Fit Metrics</p>
                  <p class="md-bold">Time-to-Market</p>
                  <p class="md-bold">Adoption Rate</p>
                  <p class="md-bold">Return on Investment (ROI)</p>
                  <p class="md-bold">Internal Return Rate</p>
  
              </div>
      </div>
         
          </div>