<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: 32px;">
    <div class="stage">
<img src="./public/Scrum-Process-Chart.svg" style="width:100%;"></img>
</div>
<div class="stage-info">
<div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
    <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--yellow-Y200);"></div>        
    <p class="md-bold">Backlog Refinement</p>
</div>
<ul class="md-regular">
    <li>Prioritize the product backlog</li>
    <li>Ensure backlog items are clear, well-defined, and estimated</li>
    <li>Align backlog with business and customer needs</li>
    <li>Collaborate with the team to clarify acceptance criteria</li>
  </ul>

                     
                    </div>
<div class="stage-info-sum">
                        <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E600);"></div>        
            <p class="md-bold">Sprint Planning</p>        
            </div>
            <ul class="md-regular">
                <li>Forecast team velocity</li>
                <li>Estimate task durations</li>
                <li>Define and commit to Sprint Backlog</li>
                <li>Set a clear Sprint Goal</li>
              </ul>
                  </div>
<div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--blue-B500);"></div>        
            <p class="md-bold">Sprint Execution</p>                                    </div>                                   
            <ul class="md-regular">
                <li>Conduct Daily Stand-Ups (DSUs)</li>
                <li>Collaborate to remove blockers and ensure progress</li>
                <li>Maintain team cohesion and alignment toward sprint goals</li>
                <li>Ensure visibility and communication within the team</li>
              </ul>                      
            </div>
<div class="stage-info-sum">
                        <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--yellow-Y400);"></div>        
            <p class="md-bold">Sprint Review</p>
                      </div>
                      <ul class="md-regular">
                        <li>Demonstrate the product increment to stakeholders</li>
                        <li>Gather feedback for future improvements</li>
                        <li>Assess achievement of Sprint Goals and deliverables</li>
                      </ul>
                      
                  </div>
                  <div class="stage-info-sum">
                    <div style="display: flex; gap: 8px; align-items:center">
        <div style="width: 16px; height: 16px;border-radius:999px; background-color: #A9B451;"></div>        
        <p class="md-bold">Sprint Retrospective</p>
                  </div>
                  <ul class="md-regular">
                    <li>Identify areas for team and process improvement</li>
                    <li>Discuss lessons learned from the sprint</li>
                    <li>Implement actionable items for continuous enhancement</li>
                  </ul>
                  
              </div>
</div>
         



<div class="process-breakdown">
    <p class="md-bold">Measurement Metric</p>
    <div class="measurement">
        <p class="md-bold">Sprint Goal</p>
        <p class="md-bold">Defect rates</p>
        <p class="md-bold">Escaped Defects</p>
        <p class="md-bold">Team Velocity</p>
        <p class="md-bold">Satisfaction</p>

    </div>
</div>
  
</div>