<div class="phasee animate__animated animate__fadeIn" style="display: flex;flex-direction: column;gap: 32px;">
    <div class="stage">
<img src="./public/Scrum-Process-Chart.svg" style="width:100%;"></img>
</div>
<div class="stage-info">
<div class="stage-info-sum">
<div style="display: flex; gap: 8px; align-items:center">
    <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E200);"></div>        
    <p class="md-bold">Backlog Refinement</p>
</div>
<p class="md-regular">
    Prioritize backlog<br>
    Ensure backlog items are clear, well-defined, and estimated
    <br>
    Align backlog with business and customer needs <br>
    Collaborate with the team to clarify acceptance criteria
</p>

                     
                    </div>
<div class="stage-info-sum">
                        <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--yellow-Y200);"></div>        
            <p class="md-bold">Sprint Planning</p>        
            </div>
            <p class="md-regular">
            Forecast team velocity<br>
            Estimate task duration<br>
            Define Sprint Backlog<br>
            Set Sprint Goal</p>
                  </div>
<div class="stage-info-sum">
                      <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--emerald-E600)"></div>        
            <p class="md-bold">Sprint Execution</p>                                    </div>                                   
            <p class="md-regular">
                Conduct DSU<br>
                Collaborate to remove blockers and ensure progress<br>
                Maintain team cohesive and moving toward sprint goal<br>
                Collaborate to remove blockers and ensure progress<br>

            </p>                                
            </div>
<div class="stage-info-sum">
                        <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--grey-G400)"></div>        
            <p class="md-bold">Sprint Review</p>
                      </div>
                      <p class="md-regular">
                        Demonstrating the product to the Product Owner and stakeholders<br>
                        Gathering feedback for future improvements<br>
                        Assessing sprint outcomes
                    </p>
                  </div>
    <div class="stage-info-sum">
                        <div style="display: flex; gap: 8px; align-items:center">
            <div style="width: 16px; height: 16px;border-radius:999px; background-color: var(--grey-G400)"></div>        
            <p class="md-bold">Sprint Retrospective</p>
                      </div>
                      <br class="md-regular">
                        Identify areas for improvement<br>
                          Lesson Learned<br>
                          Implement action items for continuous enhancement<br></p>
                  </div>
</div>
         
<div class="process-breakdown">
    <p class="md-bold">Measurement Metric</p>
    <div class="measurement">
        <p class="md-bold">Sprint Goal</p>
        <p class="md-bold">Defect rates</p>
        <p class="md-bold">Escaped Defects</p>
        <p class="md-bold">Team Velocity</p>
        <p class="md-bold">Satisfaction</p>

    </div>
</div>
  
</div>