
.biz-information{
    position: relative;
    flex-direction: column;
    top: -140px;
    gap: 60px;
    display: flex;
}

/* Please noted that this css is currently using to more than 2 places, so keep in mind when adjust any */
.case-cover{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    > img {
        object-fit: cover;
        width: 100%;
    }
}

.case-overview{
    display: flex;
    flex-direction: column;
    gap:var(--p-16);
}

.case-snapshot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--m-24);
    padding: var(--p-24);
    border-radius: var(--r-16);
    border: 1px solid var(--border-neutral-default);
    background-color: var(--grey-G50);
    overflow: scroll;

    > .company{
        padding: 0;
        margin: 0;
    }

}

.outcome{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.outcome-info{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.outcome-highlight{
    padding: var(--p-24);
    background-color: #0079DF;
    border-radius: var(--r-16);
    display: flex;
    flex-direction: column;
    gap: var(--m-24);
    > p {
        color: var(--text-neutral-white);
    }
}

.out-come-data{
    display: flex;
    flex-direction: column;

    > p {
        color: var(--text-neutral-white);
    }
}

.out-come-data:last-child {
    border-top: 1px solid var(--border-neutral-default);
    padding-top: 16px;
}

.industry-challenges{
    display: flex;
    flex-direction: column;
    gap: var(--m-16);

}
.biz-objective{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.challenge{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: var(--p-24);
    border-radius: var(--r-16);
    border: 1px solid var(--border-neutral-default);
    background-color: var(--grey-G50);
}

.challenge-info{
    display: flex;
    gap: 16px;
    flex-direction: column;
    border-right: 1px solid var(--border-neutral-default);
    padding-right: var(--p-16);
}

.challenge-info:last-child{
    border:none;
    padding-right: 0;

}


.eco-system{
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: scroll;
}



/* //this is for overlap// */


.articles-container {
padding: 0;
height: 280px;
overflow: hidden;

}

.article-card {
    position: absolute;
    width: 320px;
    height: 280px;
    background-color: white;
    border-radius: 12px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid var(--border-neutral-default);
}
.card-content{
    display: flex;
    flex-direction: column;
    gap:16px    
}

.article-card .card-header-ar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        padding: 8px;
        border: 1px solid var(--border-neutral-default);
        border-radius: 999px;
        color: var(--text-neutral-default);
    }
}

.card-header-ar .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0DEDD;
}

.card-header-ar .icon img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}


.article-card .card-description {
    color: #666;
    font-size: 14px;
    flex-grow: 1;
}

.article-card:hover {
    background-color: #0079DF;
    color: white;
    transform: translateY(-1rem) rotate(2deg);
    
    & .card-description {
        color: white;
    }
    .card-title{
        color: white;}
    }
    &  .card-header-ar .icon {
        background-color: white;
    }
    & .card-header-ar span {
        border: 1px solid var(--border-neutral-white);
        color:white;
    }
       

.work-detail{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.approach{
    display: flex;
    flex-direction: row;
    gap: var(--m-24);
    padding: var(--p-24);
    border-radius: var(--r-16);
    border: 1px solid var(--border-neutral-default);
    background-color: var(--grey-G50);
    justify-content: space-between;

}
.approach-info{
    display: flex;
    flex-direction: column;
    gap: 16px;

    > img {
        width: 32px;
        height: 32px;
    }
}



.show-case-detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.fact-card{
    grid-column: span 1;
    border: 1px solid var(--border-neutral-default);
    border-radius: var(--r-16);
    max-width: 343px;
}
.fact-content{
    padding: var(--p-16);
    border-radius: var(--r-16);
    display: flex;
    flex-direction: column;
    gap: var(--m-24);

    > div {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
}
.fact-title{
    padding: 16px;
    background-color: var(--grey-G50);
    border-radius: var(--r-16) var(--r-16) 0 0;
    border-bottom: 1px solid var(--border-neutral-default);
}
.fact-images{
    grid-column: span 3;
}

.showcase{
    margin: 80px 0;
    height: 100dvh;
}