
.chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-primary-default);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
    max-height: 600px;
    overflow: scroll;
}

.chat-container.visible {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
    max-height: 400px;
}

/* input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    text-align: start !important;
    padding: initial;
    border: initial;
    white-space: pre;
} */

.response {
    margin-top: 15px;
    font-style: italic;
}

#resultBox {
    margin-top: var(--m-24);
    border-top: 1px solid #eee;
    padding:var(--p-16);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error-message {
    color: #d32f2f;
}

.form-data {
    display: flex;
    flex-direction: column;
}
.head-chat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fbfcfc;
    padding: var(--p-16);
    border-bottom: 1px solid var(--border-neutral-default);
    background-color: var(--grey-G100);
    border-radius: 8px 8px 0 0; 
    }
.form-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    }