:root {
  /* COLOR */
  --global-blue-b-100: rgb(224, 242, 254);
  --global-blue-b-200: rgb(186, 230, 253);
  --global-blue-b-300: rgb(125, 211, 252);
  --global-blue-b-400: rgb(56, 189, 248);
  --global-blue-b-50: rgb(240, 249, 255);
  --global-blue-b-500: rgb(14, 165, 233);
  --global-blue-b-600: rgb(2, 132, 199);
  --global-blue-b-700: rgb(3, 105, 161);
  --global-blue-b-800: rgb(7, 89, 133);
  --global-blue-b-900: rgb(12, 74, 110);
  --global-blue-b-950: rgb(8, 47, 73);
  --global-emerald-e-100: rgb(220, 252, 231);
  --global-emerald-e-200: rgb(187, 247, 208);
  --global-emerald-e-300: rgb(134, 239, 172);
  --global-emerald-e-400: rgb(74, 222, 128);
  --global-emerald-e-50: rgb(240, 253, 244);
  --global-emerald-e-500: rgb(34, 197, 94);
  --global-emerald-e-600: rgb(22, 163, 74);
  --global-emerald-e-700: rgb(21, 128, 61);
  --global-emerald-e-800: rgb(22, 101, 52);
  --global-emerald-e-900: rgb(20, 83, 45);
  --global-emerald-e-950: rgb(5, 46, 22);
  --global-grey-g-100: rgb(243, 244, 246);
  --global-grey-g-200: rgb(229, 231, 235);
  --global-grey-g-300: rgb(209, 213, 219);
  --global-grey-g-400: rgb(156, 163, 175);
  --global-grey-g-50: rgb(249, 250, 251);
  --global-grey-g-500: rgb(107, 114, 128);
  --global-grey-g-600: rgb(75, 85, 99);
  --global-grey-g-700: rgb(55, 65, 81);
  --global-grey-g-800: rgb(31, 41, 55);
  --global-grey-g-900: rgb(17, 24, 39);
  --global-grey-g-950: rgb(3, 7, 18);
  --global-red-r-100: rgb(254, 226, 226);
  --global-red-r-200: rgb(254, 202, 202);
  --global-red-r-300: rgb(252, 165, 165);
  --global-red-r-400: rgb(248, 113, 113);
  --global-red-r-50: rgb(254, 242, 242);
  --global-red-r-500: rgb(239, 68, 68);
  --global-red-r-600: rgb(220, 38, 38);
  --global-red-r-700: rgb(185, 28, 28);
  --global-red-r-800: rgb(153, 27, 27);
  --global-red-r-900: rgb(127, 29, 29);
  --global-red-r-950: rgb(69, 10, 10);
  --global-yellow-y-100: rgb(254, 249, 195);
  --global-yellow-y-200: rgb(254, 240, 138);
  --global-yellow-y-300: rgb(253, 224, 71);
  --global-yellow-y-400: rgb(250, 204, 21);
  --global-yellow-y-50: rgb(254, 252, 232);
  --global-yellow-y-500: rgb(234, 179, 8);
  --global-yellow-y-600: rgb(202, 138, 4);
  --global-yellow-y-700: rgb(161, 98, 7);
  --global-yellow-y-800: rgb(133, 77, 14);
  --global-yellow-y-900: rgb(113, 63, 18);
  --global-yellow-y-950: rgb(66, 32, 6);
}
