@import url(./text-styles.css);
@import url(./tokens.css);
.btn-primary{
    border: none;
    padding: var(--p-8) var(--p-16) var(--p-8) var(--p-16);
    background: var(--button-bg-primary-default, #0090DA);
    gap: var(--p-12, 12px);
    color: var(--button-text-primary);
    border-radius: 999px;
    transition-property: all;
    transition-duration: .5s;
    border-top: 1px solid var(--border-primary-default, #01679C);
    border-right: 1px solid var(--border-primary-default, #01679C);
    border-bottom: 3px solid var(--border-primary-default, #01679C);
    border-left: 1px solid var(--border-primary-default, #01679C);
    font-size: 14px; 
    }
    .btn-primary:hover {
        box-shadow: none;
            transform: translate(1px, 1px);
        }
    .btn-primary > a{
        text-decoration: none;
        color: var(--button-text-primary);
    }


    .btn-secondary{
        padding: var(--p-8) var(--p-16) var(--p-8) var(--p-16);
        border-radius: 999px;
        background: var(--button-bg-ghost-default);
        border-top: 1px solid var(--border-primary-default, #01679C);
        border-right: 1px solid var(--border-primary-default, #01679C);
        border-bottom: 3px solid var(--border-primary-default, #01679C);
        border-left: 1px solid var(--border-primary-default, #01679C);
        color: var(--button-text-secondary);
        font-size: 14px;

    }
    .btn-secondary:hover{
        background: var(--button-bg-ghost-hover);
    }
.btn-secondary > a{
    text-decoration: none;
    color: var(--button-text-secondary);
}


.btn-ghosh{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 0;
    border: none;
    color: var(--primary-default);
    gap: 8px;
    background-color: var(--bg-surface-transparent);
    border-radius: 999px;
    transition-property: all;
    transition-duration: .5s;
    width: 130px;
    font-size: 14px;
}

.btn-ghosh:hover {
    padding: 8px 8px 8px 16px;
    background-color: var(--button-bg-primary-default);
    color: aliceblue;
    cursor: pointer;
    
}

.btn-ghosh svg {
    fill: currentColor;
}


