@import url(./tokens.css);
@import url(./text-styles.css);
.btn-primary{
    padding: var(--space-14);
    box-shadow: 4px 4px var(--button-border-primary);
    background: var(--button-bg-primary-default);
    color: var(--button-text-primary);
    transition-property: all;
    transition-duration: .3s;
    border-radius: var(--radius-80);
    font-weight: 700;
    border: 1px solid var(--button-border-primary);
    }
    .btn-primary:hover {
        box-shadow: none;
        background: var(--button-bg-primary-hover);
        color: var(--button-text-primary-hover);
        transform: translate(3px, 3px);
    }
    .btn-ghosh{
        height: 48px;
        padding: 0px var(--space-16);
        border-radius: var(--radius-80);
        background: var(--button-bg-ghost-default);
        flex-shrink: 0;
        transition-duration: .3s;
        border: none;
    }
    .btn-ghosh:hover{
        background: var(--button-bg-ghost-hover);
    }
button > a{
    text-decoration: none;
    color: var(--button-text-primary);
}