@import url(./component.css);
@import url(./text-styles.css);
@import url(./tokens.css);

:root[data-theme~="alias"] {
  --blue-B100: rgb(224, 242, 254);
  --blue-B200: rgb(186, 230, 253);
  --blue-B300: rgb(125, 211, 252);
  --blue-B400: rgb(56, 189, 248);
  --blue-B50: rgb(240, 249, 255);
  --blue-B500: rgb(14, 165, 233);
  --blue-B600: rgb(2, 132, 199);
  --blue-B700: rgb(3, 105, 161);
  --blue-B800: rgb(7, 89, 133);
  --blue-B900: rgb(12, 74, 110);
  --blue-B950: rgb(8, 47, 73);
  --yellow-Y500: rgb(234, 179, 8);
  --button-bg-primary: var(--yellow-Y500);
  --button-text-primary: var(--yellow-Y500);
  --emerald-E100: rgb(220, 252, 231);
  --emerald-E200: rgb(187, 247, 208);
  --emerald-E300: rgb(134, 239, 172);
  --emerald-E400: rgb(74, 222, 128);
  --emerald-E50: rgb(240, 253, 244);
  --emerald-E500: rgb(34, 197, 94);
  --emerald-E600: rgb(22, 163, 74);
  --emerald-E700: rgb(21, 128, 61);
  --emerald-E800: rgb(22, 101, 52);
  --emerald-E900: rgb(20, 83, 45);
  --emerald-E950: rgb(5, 46, 22);
  --grey-G100: rgb(243, 244, 246);
  --grey-G200: rgb(229, 231, 235);
  --grey-G300: rgb(209, 213, 219);
  --grey-G400: rgb(156, 163, 175);
  --grey-G50: rgb(249, 250, 251);
  --grey-G500: rgb(107, 114, 128);
  --grey-G600: rgb(75, 85, 99);
  --grey-G700: rgb(55, 65, 81);
  --grey-G800: rgb(31, 41, 55);
  --grey-G900: rgb(17, 24, 39);
  --grey-G950: rgb(3, 7, 18);
  --neutral-black: rgb(0, 0, 0);
  --neutral-transparent: rgba(255, 255, 255, 0);
  --neutral-white: rgb(255, 255, 255);
  --neutral-white-10: rgba(255, 255, 255, 0.1);
  --neutral-white-20: rgba(255, 255, 255, 0.1);
  --neutral-white-30: rgba(255, 255, 255, 0.1);
  --neutral-white-40: rgba(255, 255, 255, 0.1);
  --neutral-white-50: rgba(255, 255, 255, 0.1);
  --neutral-white-60: rgba(255, 255, 255, 0.1);
  --neutral-white-70: rgba(255, 255, 255, 0.1);
  --neutral-white-80: rgba(255, 255, 255, 0.1);
  --neutral-white-90: rgba(255, 255, 255, 0.1);
  --Number: 0px;
  --primary-default: rgb(250, 204, 21);
  --red-R100: rgb(254, 226, 226);
  --red-R200: rgb(254, 202, 202);
  --red-R300: rgb(252, 165, 165);
  --red-R400: rgb(248, 113, 113);
  --red-R50: rgb(254, 242, 242);
  --red-R500: rgb(239, 68, 68);
  --red-R600: rgb(220, 38, 38);
  --red-R700: rgb(185, 28, 28);
  --red-R800: rgb(153, 27, 27);
  --red-R900: rgb(127, 29, 29);
  --red-R950: rgb(69, 10, 10);
  --yellow-Y100: rgb(254, 249, 195);
  --yellow-Y200: rgb(254, 240, 138);
  --yellow-Y300: rgb(253, 224, 71);
  --yellow-Y400: rgb(250, 204, 21);
  --yellow-Y50: rgb(254, 252, 232);
  --yellow-Y600: rgb(202, 138, 4);
  --yellow-Y700: rgb(161, 98, 7);
  --yellow-Y800: rgb(133, 77, 14);
  --yellow-Y900: rgb(113, 63, 18);
  --yellow-Y950: rgb(66, 32, 6);
}
:root[data-theme~="semantic"] {
  --neutral-transparent: rgba(255, 255, 255, 0);
  --bg-surface-transparent: var(--neutral-transparent);
  --yellow-Y100: rgb(254, 249, 195);
  --bg-primary-lightest: var(--yellow-Y100);
  --primary-default: rgb(250, 204, 21);
  --bg-primary-default: var(--primary-default);
  --yellow-Y300: rgb(253, 224, 71);
  --bg-primary-subtler: var(--yellow-Y300);
  --neutral-black: rgb(0, 0, 0);
  --border-neutral-disbaled: var(--neutral-black);
  --grey-G600: rgb(75, 85, 99);
  --text-neutral-button: var(--grey-G600);
  --neutral-white: rgb(255, 255, 255);
  --bg-surface-main: var(--neutral-white);
  --text-neutral-body: var(--grey-G600);
  --red-R100: rgb(254, 226, 226);
  --bg-danger-default: var(--red-R100);
  --blue-B100: rgb(224, 242, 254);
  --bg-information-default: var(--blue-B100);
  --bg-neutral-disable: var(--neutral-black);
  --grey-G200: rgb(229, 231, 235);
  --bg-neutral-input: var(--grey-G200);
  --yellow-Y400: rgb(250, 204, 21);
  --bg-primary-bolder: var(--yellow-Y400);
  --yellow-Y200: rgb(254, 240, 138);
  --bg-primary-lighter: var(--yellow-Y200);
  --emerald-E100: rgb(220, 252, 231);
  --bg-success-bolder: var(--emerald-E100);
  --bg-success-default: var(--emerald-E100);
  --bg-success-lighter: var(--emerald-E100);
  --bg-success-subtler: var(--emerald-E100);
  --bg-surface-card: var(--neutral-white);
  --grey-G950: rgb(3, 7, 18);
  --bg-surface-main-inverse: var(--grey-G950);
  --bg-surface-modal: var(--neutral-white);
  --bg-warning-default: var(--yellow-Y400);
  --bg-warning-interactive-hover: var(--yellow-Y300);
  --red-R500: rgb(239, 68, 68);
  --border-danger-default: var(--red-R500);
  --blue-B500: rgb(14, 165, 233);
  --border-information-default: var(--blue-B500);
  --border-neutral-default: var(--grey-G200);
  --border-neutral-input: var(--grey-G200);
  --border-primary-default: var(--primary-default);
  --emerald-E700: rgb(21, 128, 61);
  --border-success-bolder: var(--emerald-E700);
  --emerald-E500: rgb(34, 197, 94);
  --border-success-default: var(--emerald-E500);
  --border-success-light: var(--emerald-E100);
  --emerald-E300: rgb(134, 239, 172);
  --border-success-subtler: var(--emerald-E300);
  --yellow-Y500: rgb(234, 179, 8);
  --border-warning-default: var(--yellow-Y500);
  --text-danger-default: var(--red-R500);
  --text-information-default: var(--blue-B500);
  --blue-B400: rgb(56, 189, 248);
  --text-link-default: var(--blue-B400);
  --blue-B300: rgb(125, 211, 252);
  --text-link-hover: var(--blue-B300);
  --text-link-visited: var(--blue-B500);
  --text-neutral-disabled: var(--grey-G600);
  --text-neutral-display: var(--grey-G950);
  --grey-G700: rgb(55, 65, 81);
  --text-neutral-heading: var(--grey-G700);
  --text-neutral-sub-heading: var(--grey-G600);
  --text-success-default: var(--emerald-E500);
  --text-warning-default: var(--yellow-Y500);
}
:root[data-theme~="component"] {
  --bg-surface-transparent: rgba(255, 255, 255, 0);
  --button-bg-ghost-default: var(--bg-surface-transparent);
  --bg-primary-lightest: rgb(254, 249, 195);
  --button-bg-ghost-hover: var(--bg-primary-lightest);
  --bg-primary-default: rgb(250, 204, 21);
  --button-bg-primary-default: var(--bg-primary-default);
  --bg-primary-subtler: rgb(253, 224, 71);
  --button-bg-primary-hover: var(--bg-primary-subtler);
  --border-neutral-disbaled: rgb(0, 0, 0);
  --button-border-primary: var(--border-neutral-disbaled);
  --text-neutral-button: rgb(75, 85, 99);
  --button-text-primary: var(--text-neutral-button);
  --button-text-primary-hover: var(--text-neutral-button);
  --tab-bg-active: var(--bg-primary-default);
  --bg-surface-main: rgb(255, 255, 255);
  --tab-bg-default: var(--bg-surface-main);
  --text-neutral-body: rgb(75, 85, 99);
  --tab-text-active: var(--text-neutral-body);
  --tab-text-default: var(--text-neutral-body);
}
:root[data-theme~="spacer"] {
  --demention-2: 2px;
  --demention-4: 4px;
  --demention-6: 6px;
  --demention-8: 8px;
  --demention-10: 10px;
  --demention-12: 12px;
  --demention-14: 14px;
  --demention-16: 16px;
  --demention-18: 18px;
  --demention-20: 20px;
  --demention-24: 24px;
  --demention-32: 32px;
  --demention-40: 40px;
  --demention-48: 48px;
  --demention-56: 56px;
  --demention-64: 64px;
  --demention-72: 72px;
  --demention-80: 80px;
  --radius-2: var(--demention-2);
  --radius-4: var(--demention-4);
  --radius-6: var(--demention-6);
  --radius-8: var(--demention-8);
  --radius-10: var(--demention-10);
  --radius-12: var(--demention-12);
  --radius-14: var(--demention-14);
  --radius-16: var(--demention-16);
  --radius-18: var(--demention-18);
  --radius-20: var(--demention-20);
  --radius-24: var(--demention-24);
  --radius-32: var(--demention-32);
  --radius-40: var(--demention-40);
  --radius-48: var(--demention-48);
  --radius-56: var(--demention-56);
  --radius-64: var(--demention-64);
  --radius-72: var(--demention-72);
  --radius-80: var(--demention-80);
  --space-2: var(--demention-2);
  --space-4: var(--demention-4);
  --space-6: var(--demention-6);
  --space-8: var(--demention-8);
  --space-10: var(--demention-10);
  --space-12: var(--demention-12);
  --space-14: var(--demention-14);
  --space-16: var(--demention-16);
  --space-18: var(--demention-18);
  --space-20: var(--demention-20);
  --space-24: var(--demention-24);
  --space-32: var(--demention-32);
  --space-40: var(--demention-40);
  --space-48: var(--demention-48);
  --space-56: var(--demention-56);
  --space-64: var(--demention-64);
  --space-72: var(--demention-72);
  --space-80: var(--demention-80);
}


html{
    margin: 0px;
    padding: 0;
    background: var(--background-surface-main);
    color:var(--text-neutral-body);
}
p{
    padding: 0;
    margin: 0;
    color:var(--text-neutral-body);
}


.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(175deg, rgba(217, 217, 217, 0.00) 3.87%, rgba(255, 221, 87, 0.12) 96.13%);
    
}
.content-header{
    width: 100%;
    display: block;
    margin: auto;
    
}
.nav{
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    border-radius: var(--space-16);
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: var(--space-24);
    padding-right: var(--space-16);
}
li{
    list-style-type: none;
    gap: var(--space-24);
    padding-right: var(--space-16);
    display: flex;
}
li > a{
    text-decoration: none;
    color: var(--text-neutral-body);
}
.nav-infor{
    display: flex;
    align-items: center;
    gap: var(--space-16);
}
.cta{
  display: flex;
  gap: var(--space-20);
  
}
.section{
    top: -70px;
    position: relative;
}

.general{
    border-radius: var(--space-24);
    gap:var(--space-24);
    display: flex;
    flex-direction: row;
}
.experience{
    flex-grow: 1;
    box-shadow: 0px 5px 34px 0px #EFEFEF;
    background-color: var(--bg-surface-main);
    border: solid 1px var(--border-neutral-default);
    border-radius:var(--radius-16);
    padding: var(--space-32);
}
.focused{
    width: auto;
    box-shadow: 0px 5px 34px 0px #EFEFEF;
    border: solid 1px var(--border-neutral-default);
    background-color: var(--bg-surface-main);
    border-radius:var(--radius-16);
    padding: var(--space-32);
    min-width: 384px;
}

.company{
    display: flex;
    padding-bottom: var(--space-16);
    margin-bottom: var(--space-16);
    border-bottom: 1px solid var(--border-neutral-default);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-16);
    align-self: stretch;
}
.company:last-child{
    padding-bottom: 0px;
    margin-bottom: 0px ;
    border: none;   
}

.company-infor{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}

@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}
/* 
@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
} */

.stuff{
  display: flex;
  padding: var(--space-32);
  border-radius: var(--radius-16);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 6px solid #000;
  border-left: 1px solid #000;
  background: linear-gradient(280deg, rgba(217, 217, 217, 0.00) -32.03%, rgba(255, 221, 87, 0.31) 124.44%);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-24);
  backdrop-filter: blur(25px);
}
.hastag{
  display: flex;
  gap: var(--space-8);
}
.hastag-items{
  padding: var(--space-8);
  background-color: var(--tab-bg-default);
  border-radius: var(--radius-4);
}
.hastag-items:active{
  background-color: var(--tab-bg-active);
}
.information{
  display: flex;
  flex-direction: row;
}

.content-body{
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}

.awward{
  width: auto;
  border-radius: var(--radius-16);
  padding: var(--space-32);
  background: linear-gradient(358deg, rgba(217, 217, 217, 0.00) -8.19%, rgba(255, 221, 87, 0.31) 115.32%);
  gap: var(--space-24);
  min-width: 384px;
}

.awward-item{
    display: flex;
    align-items: flex-start;
    gap: var(--space-24);
    margin-bottom: var(--space-16);
    border-bottom: 1px solid var(--border-neutral-default);
}

.awward-item:last-child{
  padding-bottom: 0px;
  margin-bottom: 0px ;
  border: none;   
}

.my-learning{
  padding: var(--space-32);
  gap: var(--space-16);
  flex-grow: 1;
  display: flex;
  flex-direction: column;  
}
.learning-path{
  display: flex;
  flex-direction: row;
  gap: var(--space-24);
}

.l-path{
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

@media (max-width: 992px) {
  .general {
    flex-direction: column;
  }
  .my-learning-path{
    flex-direction: column;
  }
}