@import url(./component.css);
@import url(./text-styles.css);
@import url(./tokens.css);

html{
    margin: 0px;
    padding: 0;
    font-family: 'Raleway';
    background: var(--bg-surface-main);
    color:var(--text-neutral-body);
}
p{
    padding: 0;
    margin: 0;
    color:var(--text-neutral-body);
}


.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(175deg, rgba(217, 217, 217, 0.00) 3.87%, rgba(255, 221, 87, 0.12) 96.13%);
    
}
.content{
    width: 100%;
    display: block;
    margin: auto;
    padding: 24px;
    
}
.nav{
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    border-radius: var(--number-radius-2-xl, 16px);
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 24px;
}
li{
    list-style-type: none;
    gap: 24px;
    padding-right: 16px;
    display: flex;
}
li > a{
    text-decoration: none;
    color: var(--p-text-primary-hovered);
}

.nav-infor{
    display: flex;
    align-items: center;
    gap: 16px;
}

.section{
    top: -70px;
    position: relative;
}

.first-section{
    display: flex;
    gap: 24px;
}

.general{
    border-radius: 24px;
    background-color: var(--bg-surface-main);    
    padding: 32px;
}
.experience{
    flex-grow: 1;
    border: solid 1px var(--border-neutral-default);
    border-radius: 16px;
    box-shadow: 0px 5px 34px 0px #EFEFEF;
}
.focused{
    width: auto;
    border: solid 1px var(--border-neutral-default);
    border-radius: 16px;
    box-shadow: 0px 5px 34px 0px #EFEFEF;
}

.company{
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 16px ;
    border-bottom: 1px solid var(--border-neutral-default);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.company:last-child{
    padding-bottom: 0px;
    margin-bottom: 0px ;
    border: none;   
}

.company-infor{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}