@import url(./component.css);
@import url(./text-styles.css);
:root{
    --color-primary-default: rgb(255, 229, 152);
    --color-neutral-white: rgb(255, 255, 255);
    --color-grey-G600: rgb(75, 85, 99);
    --color-neutral-black: rgb(0, 0, 0);
    --color-neutral-transparent: rgba(255, 255, 255, 0);
    --color-yellow-Y50: rgb(254, 252, 232);
    --color-yellow-Y300: rgb(253, 224, 71);
    --color-red-R50: rgb(254, 242, 242);
    --color-red-R100: rgb(254, 226, 226);
    --color-red-R200: rgb(254, 202, 202);
    --color-red-R300: rgb(252, 165, 165);
    --color-red-R400: rgb(248, 113, 113);
    --color-red-R500: rgb(239, 68, 68);
    --color-red-R600: rgb(220, 38, 38);
    --color-red-R700: rgb(185, 28, 28);
    --color-red-R800: rgb(153, 27, 27);
    --color-red-R900: rgb(127, 29, 29);
    --color-red-R950: rgb(69, 10, 10);
    --color-blue-B50: rgb(240, 249, 255);
    --color-blue-B100: rgb(224, 242, 254);
    --color-blue-B200: rgb(186, 230, 253);
    --color-blue-B300: rgb(125, 211, 252);
    --color-blue-B400: rgb(56, 189, 248);
    --color-blue-B500: rgb(14, 165, 233);
    --color-blue-B600: rgb(2, 132, 199);
    --color-blue-B700: rgb(3, 105, 161);
    --color-blue-B800: rgb(7, 89, 133);
    --color-blue-B900: rgb(12, 74, 110);
    --color-blue-B950: rgb(8, 47, 73);
    --color-grey-G50: rgb(249, 250, 251);
    --color-grey-G100: rgb(243, 244, 246);
    --color-grey-G200: rgb(229, 231, 235);
    --color-grey-G300: rgb(209, 213, 219);
    --color-grey-G400: rgb(156, 163, 175);
    --color-grey-G500: rgb(107, 114, 128);
    --color-grey-G700: rgb(55, 65, 81);
    --color-grey-G800: rgb(31, 41, 55);
    --color-grey-G900: rgb(17, 24, 39);
    --color-grey-G950: rgb(3, 7, 18);
    --color-yellow-Y100: rgb(254, 249, 195);
    --color-yellow-Y200: rgb(254, 240, 138);
    --color-yellow-Y400: rgb(250, 204, 21);
    --color-yellow-Y500: rgb(234, 179, 8);
    --color-yellow-Y600: rgb(202, 138, 4);
    --color-yellow-Y700: rgb(161, 98, 7);
    --color-yellow-Y800: rgb(133, 77, 14);
    --color-yellow-Y900: rgb(113, 63, 18);
    --color-yellow-Y950: rgb(66, 32, 6);
    --color-emerald-E50: rgb(240, 253, 244);
    --color-emerald-E100: rgb(220, 252, 231);
    --color-emerald-E200: rgb(187, 247, 208);
    --color-emerald-E300: rgb(134, 239, 172);
    --color-emerald-E400: rgb(74, 222, 128);
    --color-emerald-E500: rgb(34, 197, 94);
    --color-emerald-E600: rgb(22, 163, 74);
    --color-emerald-E700: rgb(21, 128, 61);
    --color-emerald-E800: rgb(22, 101, 52);
    --color-emerald-E900: rgb(20, 83, 45);
    --color-emerald-E950: rgb(5, 46, 22);
    --color-neutral-white-10: rgba(255, 255, 255, 0.1);
    --color-neutral-white-20: rgba(255, 255, 255, 0.1);
    --color-neutral-white-30: rgba(255, 255, 255, 0.1);
    --color-neutral-white-40: rgba(255, 255, 255, 0.1);
    --color-neutral-white-50: rgba(255, 255, 255, 0.1);
    --color-neutral-white-60: rgba(255, 255, 255, 0.1);
    --color-neutral-white-70: rgba(255, 255, 255, 0.1);
    --color-neutral-white-80: rgba(255, 255, 255, 0.1);
    --color-neutral-white-90: rgba(255, 255, 255, 0.1);
    --color-primary-default: rgb(255, 229, 152);
  }
  :root{
    --bg-primary-default: var(--color-primary-default);
    --bg-surface-main: var(--color-neutral-white);
    --text-neutral-body: var(--color-grey-G600);
    --border-neutral-black: var(--color-neutral-black);
    --bg-surface-transparent: var(--color-neutral-transparent);
    --bg-warning-interactive-hover-subdued: var(--color-yellow-Y50);
    --color-yellow-Y300: rgb(253, 224, 71);
    --bg-warning-interactive-hover: var(--color-yellow-Y300);
    --bg-surface-card: var(--color-neutral-white);
    --bg-surface-modal: var(--color-neutral-white);
    --color-grey-G900: rgb(17, 24, 39);
    --bg-surface-main-inverse: var(--color-grey-G900);
    --color-emerald-E100: rgb(220, 252, 231);
    --bg-success-default: var(--color-emerald-E100);
    --color-yellow-Y400: rgb(250, 204, 21);
    --bg-warning-default: var(--color-yellow-Y400);
    --color-blue-B100: rgb(224, 242, 254);
    --bg-information-default: var(--color-blue-B100);
    --color-red-R100: rgb(254, 226, 226);
    --bg-danger-default: var(--color-red-R100);
    --color-blue-B300: rgb(125, 211, 252);
    --text-link-hover: var(--color-blue-B300);
    --color-blue-B400: rgb(56, 189, 248);
    --text-link-display: var(--color-blue-B400);
    --color-blue-B500: rgb(14, 165, 233);
    --text-link-visited: var(--color-blue-B500);
    --color-grey-G950: rgb(3, 7, 18);
    --text-neutral-display: var(--color-grey-G950);
    --color-grey-G700: rgb(55, 65, 81);
    --text-neutral-heading: var(--color-grey-G700);
    --text-neutral-sub-heading: var(--color-grey-G600);
    --color-red-R500: rgb(239, 68, 68);
    --text-danger-default: var(--color-red-R500);
    --text-primary-default: var(--color-primary-default);
    --color-emerald-E500: rgb(34, 197, 94);
    --text-success-default: var(--color-emerald-E500);
    --color-yellow-Y500: rgb(234, 179, 8);
    --text-warning-default: var(--color-yellow-Y500);
    --text-information-default: var(--color-blue-B500);
    --border-danger-default: var(--color-red-R500);
    --color-emerald-E700: rgb(21, 128, 61);
    --border-success-bolder: var(--color-emerald-E700);
    --border-success-ligher: var(--color-emerald-E100);
    --border-success-default: var(--color-emerald-E500);
    --color-emerald-E300: rgb(134, 239, 172);
    --border-success-subtler: var(--color-emerald-E300);
    --color-grey-G300: rgb(209, 213, 219);
    --border-neutral-default: var(--color-grey-G300);
    --border-primary-default: var(--color-primary-default);
    --border-warning-default: var(--color-yellow-Y500);
    --border-information-default: var(--color-blue-B500);
  }
  :root{
    --base-space-3: 8px;
    --base-space-7: 16px;
    --base-space-1: 4px;
    --base-space-2: 6px;
    --base-space-4: 10px;
    --base-space-5: 12px;
    --base-space-6: 14px;
    --base-space-8: 20px;
    --base-space-9: 24px;
    --base-space-10: 30px;
    --base-space-11: 32px;
    --base-space-12: 36px;
    --base-space-13: 40px;
    --base-space-14: 48px;
    --base-space-15: 56px;
    --base-space-base: 2px;
  }
  
@font-face {
    font-family: ;
    src:
    url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

html{
    margin: 0px;
    padding: 0;
    font-family: 'Raleway';
    background: var(--bg-surface-main);
}
p{
    padding: 0;
    margin: 0;
}


.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(175deg, rgba(217, 217, 217, 0.00) 3.87%, rgba(255, 221, 87, 0.12) 96.13%);
    
}
.content{
    width: 100%;
    display: block;
    margin: auto;
    padding: 24px;
    
}
.nav{
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    border-radius: var(--number-radius-2-xl, 16px);
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 24px;
}
li{
    list-style-type: none;
    gap: 24px;
    padding-right: 16px;
    display: flex;
}
li > a{
    text-decoration: none;
    color: var(--p-text-primary-hovered);
}

.nav-infor{
    display: flex;
    align-items: center;
    gap: 16px;
}

.section{
    top: -70px;
    position: relative;
}
.general{
    border-radius: 24px;
    background-color: var(--bg-surface-main);    
    padding: 32px;

}

.company{
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 16px ;
    border-bottom: 1px solid var(--border-neutral-default);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.company-infor{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}